<!-- This example requires Tailwind CSS v2.0+ -->
<div x-show="modal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block ">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    
    <div class="inline-block align-bottom bg-gray-900 rounded-lg px-2 pt-2 pb-2 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 w-full max-w-7xl ">
    <iframe x-bind:src="'http://34.200.212.44:3000/?id='+assetid"  class="w-full min-h-screen"></iframe>

    </div>
  </div>
</div>
